<a href="https://colab.research.google.com/github/aricahyasaputra/data-sains-course-assigment-/blob/main/Quiz/Quiz_Minggu_12_Multi_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Quiz/day_wise.csv")

In [4]:
dataset.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13

In [6]:
x = dataset[['Confirmed','Deaths','Recovered','Active']]
y = dataset['New cases']

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 100)

In [8]:
from sklearn import linear_model
mlr = linear_model.LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression()

In [9]:
print("Intercept: ", mlr.intercept_)
print("Coefficient: ")
list(zip(x, mlr.coef_))

Intercept:  3685.6264660818997
Coefficient:

[('Confirmed', -0.18006047311098744),
 ('Deaths', -0.6732336953623416),
 ('Recovered', 0.17232821500184242),
 ('Active', 0.32084500724951076)]

In [10]:
y_pred_mlr = mlr.predict(x_test)
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [164218.01596627 169085.88273258 124527.17678767 137784.78440016
   6517.91825195  95487.04418361   5620.95074268   7181.22897775
  83603.9695879  113174.86090263  82862.42774192 128624.69498607
 102331.78337381 172681.52244786  73145.89970882 133711.9619782
 146475.9731614   89215.47376497 183326.70597282  82717.93819212
  56291.38958186   6603.4960726    4402.9268371   84509.00161609
 148786.9876664  107431.36370915  95967.64667115   8942.73695015
 109890.85867323 182273.02787002  73607.52123194   3755.35063099
 210510.23992177 109871.66266761 142458.74226656  71138.29483891
  20682.57557008 217568.06631287]

In [11]:
mlr_diff = pd.DataFrame({'Actual Value': y_test, 'Predict Value': y_pred_mlr})
mlr_diff.head()

     Actual Value  Predict Value
156        191346  164218.015966
157        178110  169085.882733
140        134025  124527.176788
145        119638  137784.784400
46           3954    6517.918252

In [14]:
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error', meanAbErr)
print('Mean Square Error: ', meanSqErr)
print('Root Mean Square Error: ', rootMeanSqErr)

R squared: 96.29
Mean Absolute Error 11485.249058868967
Mean Square Error:  198082948.14402896
Root Mean Square Error:  14074.194404797347