<a href="https://colab.research.google.com/github/aricahyasaputra/data-sains-course-assigment-/blob/main/Week%204/Tugas_4_Data_Sains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Ari Cahya Saputra

NIM : 1103190093

Kelas : TK-42-PIL1

Pertama unduh datasetnya dari website Kaggle, disini saya menggunakan Dataset Jumlah Pendapatan daerah pertahun yang saya unduh dari link :  [Indonesia Salary by Region](https://www.kaggle.com/linkgish/indonesian-salary-by-region-19972022)

#Visualisasi Variable

Kita import modul yang diperlukan terlebih dahulu

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%204/Indonesian%20Salary%20by%20Region%20(1997-2022).csv")

In [3]:
df.head(10)

             REGION  SALARY  YEAR
0              ACEH  128000  1997
1    SUMATERA UTARA  151000  1997
2    SUMATERA BARAT  119000  1997
3              RIAU  151500  1997
4             JAMBI  119500  1997
5  SUMATERA SELATAN  127500  1997
6          BENGKULU  127500  1997
7           LAMPUNG  126000  1997
8         KEP. RIAU  235000  1997
9       DKI JAKARTA  172500  1997

In [5]:
# visualisasi pie chart
region = ('Aceh', 'Jawa Tengah', 'Riau', 'Jambi', 'Bali')


df.groupby("REGION").sum()


#votes = (12, 11, 4, 8, 7)
#plt.pie(
#    votes,
#    labels=region,
#)
#plt.show()

                        SALARY   YEAR
REGION
ACEH                  35787832  52247
BALI                  27938962  52247
BANTEN                28556264  50250
BENGKULU              26020248  52247
DI YOGYAKARTA         20516049  52247
DKI JAKARTA           46150950  52247
GORONTALO             28144565  50250
INDONESIA             29900543  52247
JAMBI                 29903277  52247
JAWA BARAT            21948585  52247
JAWA TENGAH           19780366  52247
JAWA TIMUR            19960325  52247
KALIMANTAN BARAT      26604625  52247
KALIMANTAN SELATAN    32193873  52247
KALIMANTAN TENGAH     32586870  52247
KALIMANTAN TIMUR      32277964  52247
KALIMANTAN UTARA      20903978  16148
KEP. BANGKA BELITUNG  32884128  50250
KEP. RIAU             32915674  52247
LAMPUNG               26692916  52247
MALUKU                28496187  52247
MALUKU UTARA          28526215  50250
NUSA TENGGARA BARAT   25144558  52247
NUSA TENGGARA TIMUR   23275500  52247
PAPUA                 40098978  52247
PAPUA BARAT           33494555  34238
RIAU                  32704190  52247
SULAWESI BARAT        26763963  34238
SULAWESI SELATAN      33809421  52247
SULAWESI TENGAH       26154511  52247
SULAWESI TENGGARA     28219375  52247
SULAWESI UTARA        35988031  52247
SUMATERA BARAT        28999917  52247
SUMATERA SELATAN      33247377  52247
SUMATERA UTARA        29898125  52247