<a href="https://colab.research.google.com/github/aricahyasaputra/data-sains-course-assigment-/blob/main/Week%206/Tugas_6_Data_Sains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Cleaning

In [ ]:
# import library

import pandas as pd
import numpy as np

In [ ]:
# load data

df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/euw_challanger.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,0,0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,1,1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,2,2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,3,3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,4,4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True

In [ ]:
# periksa tipe datanya utk masing2 varibael/kolom/fitur dengan .dtypes

print(df.dtypes)

Unnamed: 0                int64
Unnamed: 0.1              int64
kills                   float64
deaths                  float64
assists                 float64
killParticipation       float64
kda                     float64
goldPerMinute           float64
totalMinionsKilled      float64
gold                    float64
totalDamageDealt        float64
visionScore             float64
visionScorePerMinute    float64
skillshotsDodged        float64
skillshotsHit           float64
win                        bool
dtype: object

In [ ]:
# melihat statistik dasar 

df.describe()

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
count,5624.000000,5624.000000,5624.00000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000
mean,2834.936700,2834.936700,6.11362,5.315434,8.372155,4.012126,4.012126,437.587685,117.033073,10025.545875,115077.407183,27.325925,1.032778,76.239687,38.705548
std,1647.448052,1647.448052,4.98096,3.280757,6.386453,4.243153,4.243153,135.162035,84.008546,3837.303314,72168.650081,21.890540,0.710580,84.844001,34.027895
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,153.672785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1405.750000,1405.750000,2.00000,3.000000,4.000000,1.454545,1.454545,347.923972,32.000000,7550.000000,59662.500000,14.000000,0.606374,28.000000,19.000000
50%,2822.500000,2822.500000,5.00000,5.000000,7.000000,2.666667,2.666667,420.219786,127.000000,9775.000000,112121.000000,22.000000,0.890876,49.000000,30.000000
75%,4266.250000,4266.250000,9.00000,7.000000,11.000000,4.804545,4.804545,497.239415,187.000000,12450.000000,161738.750000,34.000000,1.233613,88.000000,47.000000
max,5701.000000,5701.000000,44.00000,22.000000,48.000000,41.000000,41.000000,2114.868366,424.000000,37650.000000,505341.000000,225.000000,4.996686,881.000000,409.000000

#Membuang (drop) Kolom

In [ ]:
# melihat pada lima entri pertama 

df.head()

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,0,0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,1,1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,2,2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,3,3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,4,4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True

Ada beberapa kolom yang tidak dgunakan yaitu unnamed 0 dan unnamed 0.1.

In [ ]:
# memilih kolom-kolom yang akan di drop 

to_drop = ['Unnamed: 0', 
           'Unnamed: 0.1']

In [ ]:
# melakukan drop pada data yang dipilih

df.drop(to_drop, inplace=True, axis=1)

In [ ]:
# inspeksi ulang DataFrame, kolom yang tidak diinginkan sudah dibuang

df.head()

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True

Disini terlihat column yang didrop telah tidak ada sehingga terbukti berhasil

Kita coba reset datanta untuk mencoba alternatif membuang kolom

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/euw_challanger.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,0,0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,1,1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,2,2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,3,3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,4,4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True

Alternatif untuk membuang kolom

In [ ]:
df.drop(columns=to_drop, inplace=True)

In [ ]:
# inspeksi ulang DataFrame, kolom yang tidak diinginkan sudah dibuang

df.head()

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True

Disini terlihat column yang didrop telah tidak ada sehingga terbukti berhasil

#Mengubah Indeks di DataFrame

Untuk bagian ini saya menggunakan data set [vgsales](https://) karena menurut saya lebih cocok karena ada columns rank

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
# cek nilai unik rank

df['Rank'].is_unique

True

In [ ]:
# ganti indeks yang ada pada kolom menggunakan set_index

df = df.set_index('Rank')
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
# akses record ke 206

df.loc[100]

# .loc[] --> seleksi dengan menggunakan label/bilangan bulat

Name              Battlefield 3
Platform                   X360
Year                     2011.0
Genre                   Shooter
Publisher       Electronic Arts
NA_Sales                   4.46
EU_Sales                   2.13
JP_Sales                   0.06
Other_Sales                0.69
Global_Sales               7.34
Name: 100, dtype: object

Secara default, metode mengembalikan salinan objek yang dimodifikasi dan tidak membuat perubahan secara langsung ke objek. Hal ini dapat dihindari dengan mengatur parameter inplace:

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
df.set_index('Rank', inplace=True)
df.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

#Merapihkan Fields dalam Data

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
# menghitung frekuensi nilai objek

df.dtypes.value_counts()

float64    6
object     4
int64      1
dtype: int64

Satu kolom yang masuk akal untuk menerapkan nilai numerik adalah tanggal publikasi sehingga kita dapat melakukan perhitungan di awal:

In [ ]:
# seleksi data dari Year dengan output hanya pada field tanggal publikasi

df.loc[1996:, 'Name'].head(10)

1996                                      Mega Man X4
1997                         Naruto: Clash of Ninja 2
1998                 Dance Dance Revolution SuperNOVA
1999                                            Brink
2000                         F-Zero: Maximum Velocity
2001                                     Bomberman 64
2002                     Jeremy McGrath Supercross 98
2003    LEGO Indiana Jones 2: The Adventure Continues
2004                                     Project CARS
2005                      Need for Speed: Most Wanted
Name: Name, dtype: object

Game tertentu hanya memiliki satu tanggal publikasi. Oleh karena itu perlu dilakukan hal berikut:

Kita ubah terlebih dahulu dari float ke str

In [ ]:
df['Year'] = df['Year'].astype(str)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
#jalankan regex di dataset

extr = df['Year'].str.extract(r'^(\d{4})', expand=False)
extr.head()

# expand=False: --> Jika Benar, kembalikan  DataFrame dengan satu kolom per grup tangkapan.  
# Jika Salah, kembalikan Seri/Indeks jika ada satu  grup tangkapan atau DataFrame jika ada beberapa  grup tangkapan.

0    2006
1    1985
2    2008
3    2009
4    1996
Name: Year, dtype: object

In [ ]:
# mendapatkan versi numeriknya dengan perintah pd.to_numeric

df['Year'] = pd.to_numeric(extr)
df['Year'].dtype

dtype('float64')

In [ ]:
# perhitungan pada nilai valid yang tersisa

df['Year'].isnull().sum() / len(df)

0.016327268345583804

Ini menghasilkan sekitar 1/100 nilai yang hilang, cost yang cukup kecil dampaknya untuk saat ini karena dapat melakukan perhitungan pada nilai valid yang tersisa:

#Membersihkan Kolom dengan Kombinasi metode str dengan NumPy

In [45]:
df = pd.read_csv("https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%206/vgsales.csv")
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [46]:
# isi kolom 'Platform'

df['Platform'].head(10)

0    Wii
1    NES
2    Wii
3    Wii
4     GB
5     GB
6     DS
7    Wii
8    Wii
9    NES
Name: Platform, dtype: object

Kita tambahkan baris agar bisa sebagai contoh

In [47]:
df2 = {'Rank': '16601', 'Name': 'Aruchamy', 'Platform': 'DS', 'Year':'2010','Genre':'Role Playing', 'Publisher':'Nintendo', 'NA_Sales':'11', 'EU_Sales':'12','JP_Sales':'13','Other_Sales':'13', 'Global_Sales':'15'}

df = df.append(df2, ignore_index = True)
df.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.0,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.0,0.0,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.0,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.0,0.0,0.0,0.01
16598,16601,Aruchamy,DS,2010,Role Playing,Nintendo,11,12,13,13,15

In [48]:
df.loc[4]

Rank                                   5
Name            Pokemon Red/Pokemon Blue
Platform                              GB
Year                              1996.0
Genre                       Role-Playing
Publisher                       Nintendo
NA_Sales                           11.27
EU_Sales                            8.89
JP_Sales                           10.22
Other_Sales                          1.0
Global_Sales                       31.37
Name: 4, dtype: object

Pada dua entri di atas, dua Genre (Role Playing) namun salah satunya memilik tanda hubung (-)

In [51]:
# mendapatkan boolean mask

pub = df['Genre']
rolePlaying = pub.str.contains('Role-Playing')
rolePlaying[:5]

0    False
1    False
2    False
3    False
4     True
Name: Genre, dtype: bool

In [54]:
df['Genre'] = np.where(rolePlaying, 'Role Playing', pub.str.replace('-', ' '))
df['Genre'].head()

0          Sports
1        Platform
2          Racing
3          Sports
4    Role Playing
Name: Genre, dtype: object