<a href="https://colab.research.google.com/github/aricahyasaputra/data-sains-course-assigment-/blob/main/Week%203/Tugas_3_Data_Sains.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import terlebih dahulu library yang dibutuhkan
import pandas as pd
import numpy as np

In [2]:
dataset = "https://raw.githubusercontent.com/aricahyasaputra/data-sains-course-assigment-/main/Week%203/euw_challanger.csv"
df = pd.read_csv(dataset)

In [3]:
df.head(10)

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,0,0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,1,1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,2,2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,3,3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,4,4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True
5,5,5,8.0,8.0,3.0,1.375000,1.375000,413.748169,211.0,11950.0,149661.0,47.0,1.614476,7.0,3.0,False
6,6,6,3.0,8.0,3.0,0.750000,0.750000,348.295105,201.0,10850.0,140198.0,29.0,0.927520,48.0,46.0,False
7,7,7,2.0,4.0,4.0,1.500000,1.500000,425.994759,233.0,9975.0,166816.0,36.0,1.340082,9.0,14.0,True
8,8,8,8.0,2.0,9.0,8.500000,8.500000,476.120919,241.0,13200.0,204628.0,39.0,1.316739,6.0,6.0,True
9,9,9,12.0,4.0,6.0,4.500000,4.500000,541.163398,167.0,10025.0,118336.0,27.0,1.182769,84.0,76.0,True

In [4]:
df.tail(10)

,Unnamed: 0,Unnamed: 0.1,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
5614,5692,5692,3.0,4.0,1.0,1.000000,1.000000,409.270550,258.0,12260.0,158339.0,37.0,1.269931,91.0,92.0,False
5615,5693,5693,11.0,7.0,6.0,2.428571,2.428571,549.320566,173.0,13050.0,123932.0,28.0,1.173876,30.0,24.0,False
5616,5694,5694,4.0,11.0,8.0,1.090909,1.090909,372.593897,182.0,10600.0,98355.0,33.0,1.188100,253.0,60.0,False
5617,5695,5695,8.0,4.0,1.0,2.250000,2.250000,614.430831,274.0,13050.0,213496.0,13.0,0.540170,137.0,29.0,False
5618,5696,5696,7.0,12.0,4.0,0.916667,0.916667,426.296335,205.0,11925.0,164360.0,21.0,0.698952,333.0,49.0,False
5619,5697,5697,3.0,3.0,5.0,2.666667,2.666667,382.506309,186.0,8575.0,87743.0,20.0,0.871596,439.0,33.0,False
5620,5698,5698,7.0,3.0,3.0,3.333333,3.333333,464.027231,250.0,13375.0,163391.0,29.0,1.023907,64.0,116.0,False
5621,5699,5699,11.0,5.0,10.0,4.200000,4.200000,479.758054,63.0,16550.0,220562.0,31.0,0.859700,64.0,72.0,False
5622,5700,5700,6.0,3.0,9.0,5.000000,5.000000,422.451712,46.0,12550.0,179791.0,36.0,1.184643,99.0,101.0,False
5623,5701,5701,12.0,0.0,1.0,13.000000,13.000000,620.621693,282.0,14625.0,214294.0,36.0,1.361971,40.0,26.0,True

In [5]:
print(df.dtypes)

Unnamed: 0                int64
Unnamed: 0.1              int64
kills                   float64
deaths                  float64
assists                 float64
killParticipation       float64
kda                     float64
goldPerMinute           float64
totalMinionsKilled      float64
gold                    float64
totalDamageDealt        float64
visionScore             float64
visionScorePerMinute    float64
skillshotsDodged        float64
skillshotsHit           float64
win                        bool
dtype: object

Disini saya mencoba untuk menghapus date karena saya rasa tidak memerlukan datanya

In [6]:
df_noid = df.iloc[:,2:]
df_noid

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0,True
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0,True
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0,True
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0,False
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5619,3.0,3.0,5.0,2.666667,2.666667,382.506309,186.0,8575.0,87743.0,20.0,0.871596,439.0,33.0,False
5620,7.0,3.0,3.0,3.333333,3.333333,464.027231,250.0,13375.0,163391.0,29.0,1.023907,64.0,116.0,False
5621,11.0,5.0,10.0,4.200000,4.200000,479.758054,63.0,16550.0,220562.0,31.0,0.859700,64.0,72.0,False
5622,6.0,3.0,9.0,5.000000,5.000000,422.451712,46.0,12550.0,179791.0,36.0,1.184643,99.0,101.0,False
5623,12.0,0.0,1.0,13.000000,13.000000,620.621693,282.0,14625.0,214294.0,36.0,1.361971,40.0,26.0,True

In [7]:
df_noid.describe()

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
count,5624.00000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000
mean,6.11362,5.315434,8.372155,4.012126,4.012126,437.587685,117.033073,10025.545875,115077.407183,27.325925,1.032778,76.239687,38.705548
std,4.98096,3.280757,6.386453,4.243153,4.243153,135.162035,84.008546,3837.303314,72168.650081,21.890540,0.710580,84.844001,34.027895
min,0.00000,0.000000,0.000000,0.000000,0.000000,153.672785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.00000,3.000000,4.000000,1.454545,1.454545,347.923972,32.000000,7550.000000,59662.500000,14.000000,0.606374,28.000000,19.000000
50%,5.00000,5.000000,7.000000,2.666667,2.666667,420.219786,127.000000,9775.000000,112121.000000,22.000000,0.890876,49.000000,30.000000
75%,9.00000,7.000000,11.000000,4.804545,4.804545,497.239415,187.000000,12450.000000,161738.750000,34.000000,1.233613,88.000000,47.000000
max,44.00000,22.000000,48.000000,41.000000,41.000000,2114.868366,424.000000,37650.000000,505341.000000,225.000000,4.996686,881.000000,409.000000

In [8]:
df_noid.describe(exclude="object")

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit,win
count,5624.00000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624.000000,5624
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3040
mean,6.11362,5.315434,8.372155,4.012126,4.012126,437.587685,117.033073,10025.545875,115077.407183,27.325925,1.032778,76.239687,38.705548,NaN
std,4.98096,3.280757,6.386453,4.243153,4.243153,135.162035,84.008546,3837.303314,72168.650081,21.890540,0.710580,84.844001,34.027895,NaN
min,0.00000,0.000000,0.000000,0.000000,0.000000,153.672785,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2.00000,3.000000,4.000000,1.454545,1.454545,347.923972,32.000000,7550.000000,59662.500000,14.000000,0.606374,28.000000,19.000000,NaN
50%,5.00000,5.000000,7.000000,2.666667,2.666667,420.219786,127.000000,9775.000000,112121.000000,22.000000,0.890876,49.000000,30.000000,NaN
75%,9.00000,7.000000,11.000000,4.804545,4.804545,497.239415,187.000000,12450.000000,161738.750000,34.000000,1.233613,88.000000,47.000000,NaN
max,44.00000,22.000000,48.000000,41.000000,41.000000,2114.868366,424.000000,37650.000000,505341.000000,225.000000,4.996686,881.000000,409.000000,NaN

In [9]:
df_noid.mean()

kills                        6.113620
deaths                       5.315434
assists                      8.372155
killParticipation            4.012126
kda                          4.012126
goldPerMinute              437.587685
totalMinionsKilled         117.033073
gold                     10025.545875
totalDamageDealt        115077.407183
visionScore                 27.325925
visionScorePerMinute         1.032778
skillshotsDodged            76.239687
skillshotsHit               38.705548
win                          0.540541
dtype: float64

In [10]:
df_noid.sum()

kills                   3.438300e+04
deaths                  2.989400e+04
assists                 4.708500e+04
killParticipation       2.256420e+04
kda                     2.256420e+04
goldPerMinute           2.460993e+06
totalMinionsKilled      6.581940e+05
gold                    5.638367e+07
totalDamageDealt        6.471953e+08
visionScore             1.536810e+05
visionScorePerMinute    5.808346e+03
skillshotsDodged        4.287720e+05
skillshotsHit           2.176800e+05
win                     3.040000e+03
dtype: float64

In [11]:
df_noid.median()

kills                        5.000000
deaths                       5.000000
assists                      7.000000
killParticipation            2.666667
kda                          2.666667
goldPerMinute              420.219786
totalMinionsKilled         127.000000
gold                      9775.000000
totalDamageDealt        112121.000000
visionScore                 22.000000
visionScorePerMinute         0.890876
skillshotsDodged            49.000000
skillshotsHit               30.000000
win                          1.000000
dtype: float64

In [12]:
df_noid.var()

kills                   2.480996e+01
deaths                  1.076337e+01
assists                 4.078678e+01
killParticipation       1.800435e+01
kda                     1.800435e+01
goldPerMinute           1.826878e+04
totalMinionsKilled      7.057436e+03
gold                    1.472490e+07
totalDamageDealt        5.208314e+09
visionScore             4.791957e+02
visionScorePerMinute    5.049234e-01
skillshotsDodged        7.198505e+03
skillshotsHit           1.157898e+03
win                     2.484006e-01
dtype: float64

In [13]:
df_noid.std()

kills                       4.980960
deaths                      3.280757
assists                     6.386453
killParticipation           4.243153
kda                         4.243153
goldPerMinute             135.162035
totalMinionsKilled         84.008546
gold                     3837.303314
totalDamageDealt        72168.650081
visionScore                21.890540
visionScorePerMinute        0.710580
skillshotsDodged           84.844001
skillshotsHit              34.027895
win                         0.498398
dtype: float64

Karena quantile tidak dapat menghitung tipe data boolean maka saya harus drop terlebih dahulu kolom yang memiliki tipe data boolean

In [14]:
df_noid.drop(df.columns[15], axis=1, inplace=True)

In [15]:
df_noid.head(10)

,kills,deaths,assists,killParticipation,kda,goldPerMinute,totalMinionsKilled,gold,totalDamageDealt,visionScore,visionScorePerMinute,skillshotsDodged,skillshotsHit
0,11.0,5.0,7.0,3.600000,3.600000,509.580253,243.0,14950.0,225213.0,51.0,1.558169,31.0,25.0
1,21.0,11.0,13.0,3.090909,3.090909,461.392738,264.0,20375.0,341115.0,76.0,1.427324,268.0,54.0
2,9.0,7.0,8.0,2.428571,2.428571,394.271504,140.0,9325.0,95379.0,38.0,1.438050,14.0,18.0
3,11.0,2.0,2.0,6.500000,6.500000,513.628158,187.0,12275.0,147991.0,28.0,1.156925,8.0,1.0
4,9.0,3.0,4.0,4.333333,4.333333,559.206714,337.0,17950.0,355498.0,74.0,2.098381,7.0,8.0
5,8.0,8.0,3.0,1.375000,1.375000,413.748169,211.0,11950.0,149661.0,47.0,1.614476,7.0,3.0
6,3.0,8.0,3.0,0.750000,0.750000,348.295105,201.0,10850.0,140198.0,29.0,0.927520,48.0,46.0
7,2.0,4.0,4.0,1.500000,1.500000,425.994759,233.0,9975.0,166816.0,36.0,1.340082,9.0,14.0
8,8.0,2.0,9.0,8.500000,8.500000,476.120919,241.0,13200.0,204628.0,39.0,1.316739,6.0,6.0
9,12.0,4.0,6.0,4.500000,4.500000,541.163398,167.0,10025.0,118336.0,27.0,1.182769,84.0,76.0

In [16]:
df_noid.quantile(0.75)

kills                        9.000000
deaths                       7.000000
assists                     11.000000
killParticipation            4.804545
kda                          4.804545
goldPerMinute              497.239415
totalMinionsKilled         187.000000
gold                     12450.000000
totalDamageDealt        161738.750000
visionScore                 34.000000
visionScorePerMinute         1.233613
skillshotsDodged            88.000000
skillshotsHit               47.000000
Name: 0.75, dtype: float64